<!-- Footer -->
<footer>
  <div class="container">
    <div class="row" id="footerLinks">
      <div class="col-lg col-md-6 col-6" id="about-coinless">
        <img src="/img/coinless-logo-blue.png" alt="Coinless Logo" class="img-fluid img-footer"/>
        <p>Mobile Payments. Monthly Subscriptions.<br>Loyalty Program. All In One App.</p>
        <div class="social-icons">
          <a href="https://twitter.com/coinlessmobile" class="fa fa-twitter" target="_blank">
            <span class="sr-only">Visit EverWash's Twitter</span>
          </a>
          <a href="https://www.facebook.com/CoinlessMobile" class="fa fa-facebook" target="_blank">
            <span class="sr-only">Visit EverWash's Facebook</span>
          </a>
          <a href="https://www.instagram.com/coinlesspayments/" class="fa fa-instagram" target="_blank">
            <span class="sr-only">Visit EverWash's Instagram</span>
          </a>
          <a href="https://vimeo.com/265017596" class="fa fa-vimeo" target="_blank">
            <span class="sr-only">Visit EverWash's LinkedIn</span>
          </a>
        </div>
        <p class="sub-header">Contact Us</p>
        <a href="mailto:support@coinlesspayments.com">support@coinlesspayments.com</a>
        <br>
        <a href="mailto:sales@coinlesspayments.com">sales@coinlesspayments.com</a>
      </div>
      <div class="col-lg col-md-6 col-6">
        <ul>
          <p><a href="/index.html">Home</a></p>
          <li>
            <a href="/faq.html">FAQ</a>
          </li>
          <li>
            <a href="/blog.html">Blog</a>
          </li>          
          <li>
            <a href="/onboarding.html">Onboarding</a>
          </li>
          <li>
            <a href="#">Request A Demo</a>
          </li>
        </ul>
      </div>
      <div class="col-lg col-md-6 col-sm-6">
        <ul>
          <p><a href="/about-us.html">About Us</a></p>
          <li>
            <a href="/privacy-policy.html">Privacy Policy</a>
          </li>
          <li>
            <a href="https://apps.apple.com/us/app/coinless-mobile/id1363164643">Mobile App</a>
          </li>          
          <li>
            <a href="#">Buy Now</a>
          </li>
          <li>
            <a href="#">PressKit</a>
          </li>
        </ul>
      </div>
      <div class="col-lg col-md-6 col-6">
        <ul>
          <p><a href="/contact.html">Contact Us</a></p>
          <li>
            <a href="tel:+1(801)899-0183" target="_blank">USA: +1(801)899-0183</a>
          </li>
          <li>
            <a href="tel:+611300990074" target="_blank">AU: +611300990074</a>
          </li>          
          <li>
            <a href="tel:+640800483562" target="_blank">NZ: +640800483562</a>
          </li>
        </ul>
      </div>
      <div class="col-lg col-md-6 col-6">
        <ul>
          <p>Download Now</p>
          <li>
            <a href="https://apps.apple.com/us/app/coinless-mobile/id1363164643">
              <img
                src="/img/App-Store.svg"
                alt="Download on the App Store"
              />
            </a>
          </li>
          <li>
            <a href="https://play.google.com/store/apps/details?id=com.coinless&hl=en&gl=US">
              <img
                src="/img/Play-Store.svg"
                alt="Get it on Google Play"
              />
            </a>
          </li>
        </ul>
        
      </div>
    </div>

    <div class="row d-c" id="footerBottom">
      <div class="col-lg">
        <p>
          3135 Richmond St, Salt Lake City, UT 84106 USA
        </p>
      </div>
      
      <div class="col-lg">
        <p>
          Copyright &copy;
          <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script>.
          Coinless, LLC. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>