<!-- Nav Bar -->
<header>
  <nav class="navbar navbar-expand-xl navbar-light" id="navbar">
    <div class="container-fluid">
      <a href="/index" class="navbar-brand">
        <img
          src="/img/coinless-logo-blue.png"
          alt="Coinless Logo"
          class="img-fluid img-nav"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="toggle navigation"
      >
        <div id="nav-icon3">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div> 
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul id="navList" class="navbar-nav  mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/onboarding">Onboarding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq.html">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact.html">Contact Us</a>
          </li>
        </ul>
        <div class="d-flex">
          <a href="https://portal.coinlessmobile.com/login"
            class="nav-link"
          >
            Login
          </a>
          <button
            class="btn btn-primary"
            type="button"
          >
            REQUEST A DEMO
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
