
/* ***** FAQ ***** */

#faqStandard .card {
  border: none;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--gray-400);
}
#faqStandard .card .card-header {
  border: none;
  background: var(--white);
  padding: 1.3rem 1.7rem 1.3rem 0;
  cursor: pointer;
}
#faqStandard .card .card-header a {
  color: #0A102F;
}
#faqStandard .card .card-header a:hover {
  color: #005894;
}
#faqStandard .card-body {
  padding: 0.5rem 0;
}
#faqStandard .card .card-body p {
  margin-bottom: 1.5rem;
}
#faqStandard .card .card-body img {
  margin-bottom: 2rem;
}
#faqStandard .card .card-header h6 {
  display: block;
  position: relative;
  margin-bottom: 10%;
  font-size: 1.3rem;
}
#faqStandard .card-body a {
  color: #005894;
}
#faqStandard .card-body a:hover {
  color: #0A102F;
}
#faqStandard ol {
  padding-left: 30px;
}

/* Horizontal line */
#faqStandard .collapsible-link::before {
  content: "";
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: -1.7rem;
  display: block;
  transition: all 0.3s;
}
#faqStandard .collapsible-link::before {
  right: -1rem;
}

/* Vertical line */
#faqStandard .collapsible-link::after {
  content: "";
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(-1.7rem + 6px);
  display: block;
  transition: all 0.3s;
}
#faqStandard .collapsible-link::after {
  right: calc(-1rem + 6px);
}
#faqStandard .collapsible-link[aria-expanded="true"]::after {
  transform: rotate(90deg) translateX(-1px);
}

#faqStandard .collapsible-link[aria-expanded="true"]::before {
  transform: rotate(180deg);
}
