---
  title: About Us | Coinless
  description: About Us Home From start-ups to Fortune 500, we partner with brands of all sizes. About Us We are a small group of car wash owners, entrepreneurs, and coders, and who wanted a better way to connect car washes (and their owners) with customers. We love what we do & create partnerships with our
  permalink: "{{ page.filePathStem }}.html"
  image: /img/coinless-logo-blue.png
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main id="coinlessBody">

  <!-- Default Hero Section -->
  <section id="heroSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2><span class="gradient-text-01">About</span> Us</h2>
          <p><a href="/index.html">Home</a> <i id="right" aria-hidden="true" class="fa fa-angle-right"></i> <strong>About Us</strong></p>
        </div>
      </div>
    </div>
  </section>

  <!-- About First Section -->
  <section id="aboutfirstSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="/img/about-thumb-01.png" alt="About Us" class="img-fluid" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="/img/about-thumb-01.png" alt="About Us" class="img-fluid" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="/img/about-thumb-03.png" alt="About Us" class="img-fluid" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h6>From start-ups to Fortune 500, we partner with brands of all sizes</h6>
        </div>
      </div>
    </div>
  </section>

</main>  