---
  title: About Us | Coinless
  description: About Us Home From start-ups to Fortune 500, we partner with brands of all sizes. About Us We are a small group of car wash owners, entrepreneurs, and coders, and who wanted a better way to connect car washes (and their owners) with customers. We love what we do & create partnerships with our
  permalink: "{{ page.filePathStem }}.html"
  image: /img/coinless-logo-blue.png
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main id="coinlessBody">

  <!-- Default Hero Section -->
  <section id="heroSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2><span class="gradient-text-01">About</span> Us</h2>
          <p><a href="/index.html">Home</a> <i id="right" aria-hidden="true" class="fa fa-angle-right"></i> <strong>About Us</strong></p>
        </div>
      </div>
    </div>
  </section>

  <!-- About First Section -->
  <section id="aboutfirstSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="/img/about-thumb-01.png" alt="About Us" class="img-fluid" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="/img/about-thumb-01.png" alt="About Us" class="img-fluid" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="/img/about-thumb-03.png" alt="About Us" class="img-fluid" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h6>From start-ups to Fortune 500, we partner with brands of all sizes</h6>
        </div>
      </div>
    </div>
  </section>

  <!-- About US Section -->
  <section id="aboutusSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 video-content">
          <img src="/img/vide-bg-service01.png" alt="Video Service" class="img-fluid" />
          <div class="video-play" data-toggle="modal" data-target="#coinlessvideoModal"><i aria-hidden="true" class="fa fa-play"></i></div>
        </div>
        <div class="col-lg-6 text-content">
          <h3><span class="gradient-text-01">About</span> Us</h3>
          <p>We are a small group of car wash owners, entrepreneurs, and coders, and who wanted a better way to connect car washes (and their owners) with customers.</p>
          <hr>
          <p><i>“We love what we do & create partnerships with our clients to ensure their digital transformation is positioned for long-term success.”</i></p>
          <div class="info-box">
            <img src="/img/founder.png" alt="CEO & Co-fouder" class="img-fluid" />
            <p><strong>Karen Lynn</strong><br>
              CEO & Co-founder @ Company
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Creative Talent Section -->
  <section id="ourcreativeSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-content">
          <h3><span class="gradient-text-01">Our creative talent</span> has been influencing branding around the world for a long time</h3>
          <p>With more than a decade of experience. We are worry about the details so you need don’t have to. When you work with our agency, you can be sure that your website meets every standard.</p>
          <a class="btn btn-primary" type="button" href="/contact.html">Get In Touch</a>
        </div>
        <div class="col-lg-5">
          <div class="group-infobox">
            <div class="info-box">
              <h1>360+</h1>
              <h6>Satisfied Clients</h6>
            </div>
            <div class="info-box">
              <h1>80%</h1>
              <h6>Active Engagement</h6>
            </div>
            <div class="info-box">
              <h1>54+</h1>
              <h6>Success Projects</h6>
            </div>
            <div class="info-box">
              <h1>72+</h1>
              <h6>Awards Winning</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- TIMELINE Section -->
  <section id="timelineSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-content">
          <h3><span class="gradient-text-01">TIMELINE</span></h3>
          <div class="timeline-box">
            <section class="h--timeline js-h--timeline">
              <div class="h--timeline-container">
                <div class="h--timeline-dates">
                  <div class="h--timeline-line">
                    <ol>
                      <li>
                        <a href="#0" data-date="01/02/2021" class="h--timeline-date h--timeline-date--selected">Q1-<strong>2021</strong></a>
                      </li>
                      <li>
                        <a href="#0" data-date="01/05/20201" class="h--timeline-date">Q2</a>
                      </li>
                      <li>
                        <a href="#0" data-date="01/08/2021" class="h--timeline-date">SUMMER</a>
                      </li>
                      <li>
                        <a href="#0" data-date="01/05/2020" class="h--timeline-date">FALL-<strong>2021</strong></a>
                      </li>
                      <li>
                        <a href="#0" data-date="01/11/2020" class="h--timeline-date">WINTER</a>
                      </li>
                    </ol>
                    <span class="h--timeline-filling-line" aria-hidden="true"></span>
                  </div>
                  <!-- .h--timeline-line -->
                </div>
                <!-- .h--timeline-dates -->
                <nav class="h--timeline-navigation-container">
                  <ul>
                    <li>
                      <a href="#0" class="text-replace h--timeline-navigation h--timeline-navigation--inactive"><i id="left" aria-hidden="true" class="fa fa-angle-left"></i></a>
                    </li>
                    <li>
                      <a href="#0" class="text-replace h--timeline-navigation h--timeline-navigation--next"><i aria-hidden="true" class="fa fa-angle-right"></i></a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- .h--timeline-container -->
              <div class="h--timeline-events">
                <ol>
                  <li class="h--timeline-event h--timeline-event--selected text-component">
                    <div class="h--timeline-event-content container">
                      <h2 class="h--timeline-event-title">Features, Features, Features</h2>
                      <p class="h--timeline-event-description">We're hooked on features. Here's a bit of what we've done: Wash Club improvements, major upgrade to fleet management, improved customer flow, upgraded owner portal, and many more.</p>
                    </div>
                  </li>
                  <li class="h--timeline-event text-component">
                    <div class="h--timeline-event-content container">
                      <h2 class="h--timeline-event-title">Apple Pay & Google Pay</h2>
                      <p class="h--timeline-event-description">Coinless already had the quickest account-creation process among its competitors. With the addition of Apple Pay and Google Pay to the app, it's now lightning fast. Within a single click, customer accounts are all set up with profile and payment information captured instantly.</P>
                    </div>
                  </li>
                  <li class="h--timeline-event text-component">
                    <div class="h--timeline-event-content container">
                      <h2 class="h--timeline-event-title">More Dev</h2>
                      <p class="h--timeline-event-description">We'll be spending some time adding more features and doing some back-end cleanup. It's all in an effort to keep our solution as the fastest, cleanest, most powerful tech solution you can add to your SS and IBA car wash.</P>
                    </div>
                  </li>
                  <li class="h--timeline-event text-component">
                    <div class="h--timeline-event-content container">
                      <h2 class="h--timeline-event-title">Car Wash Shows Galoure</h2>
                      <p class="h--timeline-event-description">With the great pandemic pause on all conventions worldwide, Fall of 2021 will be one car wash trade show after another. Here's our show schedule: Sept. 14-15: Convenience U (Toronto, CA) Sept. 15-17: UPMRA (Midway, UT) Oct. 4-6: NRCC (Atlantic City, NJ) Oct. 5-8: NACS (Chicago, IL) Nov. 15-17: ICA Car Wash Show (Las Vegas, NV) *Will be updated as we add more.</P>
                    </div>
                  </li>
                  <li class="h--timeline-event text-component">
                    <div class="h--timeline-event-content container">
                      <h2 class="h--timeline-event-title">New Product Development</h2>
                      <p class="h--timeline-event-description">Coinless has big plans. We'll be putting out some new products that will disrupt the industry even more than it already has.</P>
                    </div>
                  </li>
                </ol>
              </div>
              <!-- .h--timeline-events -->
            </section>   
          </div>
        </div>
      </div>
    </div>
  </section>

</main>  