---
  title: Blog | coinless
  description: 
  image: /img/coinless-logo-blue.png
  sitemap:
    priority: 0.8
  layout: 'base.njk'
---

<main id="blogMain">
  <!-- Default Hero Section -->
  <section id="heroSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2><span class="gradient-text-01">Blogs</span></h2>
          <p><a href="/index.html">Home</a> <i id="right" aria-hidden="true" class="fa fa-angle-right"></i> <strong>Blog - Coinless</strong></p>
        </div>
      </div>
    </div>
  </section>

  <!-- All Articles Section -->
  <section id="allArticles">
    <div class="container on-scroll-animation slide-up">
      <div class="row">
        <div class="col-lg-12">
          <div class="row article-row article-no-container">
            {%- for post in collections.blog | reverse -%} {% include
            'article-snippet.njk' %} {%- endfor -%}
          </div>
          <div class="showMore-btn"><button id="showMoreBtn" class="btn">Show More +</button></div>
        </div>
      </div>
    </div>
  </section>
</main>