---
  title: FAQ | Coinless
  description: FAQ Home Operator FAQ Customer FAQ Operators FAQ's How do the Loyalty and Wash Club programs work?Both programs are very simple. The Loyalty Program is point based. For each dollar a customer spends at your car wash, they receive a number of points that you choose we recommend simplicity; keep it at 1 point for
  permalink: "{{ page.filePathStem }}.html"
  image: /img/coinless-logo-blue.png
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---