---
  title: FAQ | Coinless
  description: FAQ Home Operator FAQ Customer FAQ Operators FAQ's How do the Loyalty and Wash Club programs work?Both programs are very simple. The Loyalty Program is point based. For each dollar a customer spends at your car wash, they receive a number of points that you choose we recommend simplicity; keep it at 1 point for
  permalink: "{{ page.filePathStem }}.html"
  image: /img/coinless-logo-blue.png
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main id="coinlessBody">

  <!-- Default Hero Section -->
  <section id="heroSection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>COINLESS <span class="gradient-text-01">FAQ</span></h2>
          <p><a href="/index.html">Home</a> <i id="right" aria-hidden="true" class="fa fa-angle-right"></i> <strong>FAQ</strong></p>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ Section -->
  <section class="mainfaqSection" id="faqStandard">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="group-btn">
            <button id="operatorBtn" class="btn active" type="button">Operator FAQ</button>
            <button id="customerBtn" class="btn" type="button">Customer FAQ</button>
          </div>
        </div>
      </div>

      <div class="row active" id="operator-faq">
        <div class="col-lg-12">
          <h4>Operators FAQ's</h4>
          <div id="faq" class="accordion">
            <!-- Accordion item 1 -->
            <div class="card">
              <div id="headingOne" class="card-header collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsible-link py-2 collapsed">How do the Loyalty and Wash Club programs work?</a>
                </h6>
              </div>
              <div id="collapseOne" aria-labelledby="headingOne" data-parent="#faq" class="collapse" style="">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        Both programs are very simple. The Loyalty Program is point based. For each dollar a customer spends at your car wash, they receive a number of points that you choose (we recommend simplicity; keep it at 1 point for every 1 dollar). Then you decide at what threshold those points become credits for them to use at your wash, and how many credits they get.
                      </p>
                      <p>
                        Wash Club is a monthly subscription solution that requires no additional hardware to run. Everything runs off of credits in the cloud. When a customer converts into a subscribed member, you will automatically withdraw a specified amount of money from his CC every month, in exchange for giving him back more than he paid. For example, you may decide to customize and market your Wash Club program like this: "DOUBLE YOUR MONEY WITH A MONTHLY SUBSCRIPTION!"
                      </p>
                      <p>
                        For a look at how Wash Club is handled from the owner portal, enjoy this lovely video explanation:
                      </p>
                      <iframe src="https://player.vimeo.com/video/345797276?h=1727c987bd" width="100%" height="415" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 2 -->
            <div class="card">
              <div id="headingTwo" class="card-header collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsible-link py-2 collapsed">How much is each device?</a>
                </h6>
              </div>
              <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faq" class="collapse" style="">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>US / CA</p>
                      <p>Coinless has two devices, a 4-relay device and a 1-relay device. The 4-relay device is $599 and the 1-relay device is $249.</p>
                      <p>AU / NZ</p>
                      <p>Coinless has two devices, a 4-relay device and a 1-relay device. The 4-relay device is $959 + GST and the 1-relay device is $350 + GST.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 3 -->
            <div class="card">
              <div id="headingThree" class="card-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed collapsible-link py-2">How many inputs can each device handle?</a>
                </h6>
              </div>
              <div id="collapseThree" aria-labelledby="headingThree" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        We have two devices. The Coinslayer 4 has four relays/channels, and the Coinito 1 has one relay/channel.
                      </p>  
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 4 -->
            <div class="card">
              <div id="headingFour" class="card-header" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="collapsed collapsible-link py-2">What is the monthly cost?</a>
                </h6>
              </div>
              <div id="collapseFour" aria-labelledby="headingFour" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        US / CANADA
                      </p>
                      <p>The Basic plan is $69/month if you sign up for a full year. If you pay on a monthly basis, it's $83/month.</p>
                      <p>
                        AU / NZ
                      </p>
                      <p>The Basic plan is $110/month if you sign up for a full year. If you pay on a monthly basis, it's $129/month.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 5 -->
            <div class="card">
              <div id="headingFive" class="card-header" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed collapsible-link py-2">Who is your credit card processor and how much are your rates?</a>
                </h6>
              </div>
              <div id="collapseFive" aria-labelledby="headingFive" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>US / CANADA</p>
                      <p>Coinless has partnered with Clover Connect because of our their competitive rates, great customer service, and easy onboarding. To get started, visit the following website and fill out the form at the bottom of the page. They will contact you as quickly as possible within their regular working hours:</p>
                      <p>
                        <a href="https://integrate.clover.com/partner/coinless" target="_blank" rel="noopener noreferrer">integrate.clover.com/partner/coinless</a>
                      </p>
                      <p>Clover Connect's regular working hours are Monday-Friday, 8:30am-5:30pm Central Time</p>
                      <p>AUSTRALIA / NEW ZEALAND</p>
                      <p>For transactions over $15, the rate is 1.75% + 30 cents per successful transaction. <br>For purchases under $15 (Micropayments – must be requested from Stripe), the average rate is 2.5% + 5 cents per successful transaction. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 6 -->
            <div class="card">
              <div id="headingSix" class="card-header" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="collapsed collapsible-link py-2">Do I have the option to do count up or count down pricing?</a>
                </h6>
              </div>
              <div id="collapseSix" aria-labelledby="headingSix" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>YES</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 7 -->
            <div class="card">
              <div id="headingSeven" class="card-header" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" class="collapsed collapsible-link py-2">What are the sign options and pricing?</a>
                </h6>
              </div>
              <div id="collapseSeven" aria-labelledby="headingSeven" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Coinless offers all the signs you need to communicate to your customers clearly. Once you've configured your location, each of your service stations is assigned a QR code. For each of your station signs, you simply add the QR code to each of the provided sign graphics. You can then order through our supplier, AlphaGraphics, or use your preferred printing company.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 8 -->
            <div class="card">
              <div id="headingEight" class="card-header" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" class="collapsed collapsible-link py-2">Can I create custom signs and have them printed locally?</a>
                </h6>
              </div>
              <div id="collapseEight" aria-labelledby="headingEight" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Yes, for minor modifications (adding logo, colour changes). If you'd like to do this, just let us know. Additional customization options are available for a fee upon request.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 9 -->
            <div class="card">
              <div id="headingNine" class="card-header" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine" class="collapsed collapsible-link py-2">What happens if a customer forgets to turn off the bay in the app?</a>
                </h6>
              </div>
              <div id="collapseNine" aria-labelledby="headingNine" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>The app is designed to stop after a specified amount of time, determined by the owner of the location.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 10 -->
            <div class="card">
              <div id="headingTen" class="card-header" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen" class="collapsed collapsible-link py-2">What is the distance that determines washes in your area?</a>
                </h6>
              </div>
              <div id="collapseTen" aria-labelledby="headingTen" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>50 miles. As the network grows, this distance will shrink.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 11 -->
            <div class="card">
              <div id="headingEleven" class="card-header" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" class="collapsed collapsible-link py-2">Do I have to replace my existing timers or credit card readers?</a>
                </h6>
              </div>
              <div id="collapseEleven" aria-labelledby="headingEleven" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>No. Coinless operates in parallel with your current system. We offer an additional payment option on your customers' phones.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 12 -->
            <div class="card">
              <div id="headingTwelve" class="card-header" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve" class="collapsed collapsible-link py-2">How do Coinless devices connect to my network?</a>
                </h6>
              </div>
              <div id="collapseTwelve" aria-labelledby="headingTwelve" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>They have an internal WiFi chip, which connects to your 2.4GHz network using a WiFi Configuration tool via your smart device of choice (usually your phone).</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 13 -->
            <div class="card">
              <div id="headingThirteen" class="card-header" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen" class="collapsed collapsible-link py-2">How do I wire the Coinless device for my self-serve bays?</a>
                </h6>
              </div>
              <div id="collapseThirteen" aria-labelledby="headingThirteen" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <p>Each bay requires two wires from a single relay out of one of our devices. All you have to do is connect those wires parallel to your timer's timed output, CC input, or Coin input and its respective 24VAC power in your equipment room.</p>
                      <p>Here's a schematic of the Coinslayer 4, powering 4 self-serve bays:</p>
                    </div>
                    <div class="col-lg-6">
                      <img src="/img/Coinslayer-Spec-Sheet.webp" alt="Coinless FAQ" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 14 -->
            <div class="card">
              <div id="headingFourteen" class="card-header" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen" class="collapsed collapsible-link py-2">How do I wire the Coinless device for my in-bay automatic?</a>
                </h6>
              </div>
              <div id="collapseFourteen" aria-labelledby="headingFourteen" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <p>In-bay automatics typically offer 3-4 wash options. Each of those options requires one relay from one of our Coinless devices. With our 4-relay device, you will wire from each relay to the respective wash option inputs inside your wiring cabinet in your equipment room.</p>
                      <p>Here's a schematic of the Coinslayer 4, powering 1 In-Bay Automatic (IBA):</p>
                    </div>
                    <div class="col-lg-6">
                      <img src="/img/Coinslayer-Spec-Sheet.webp" alt="Coinless FAQ" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 15 -->
            <div class="card">
              <div id="headingFifteen" class="card-header" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen" class="collapsed collapsible-link py-2">How do I wire the Coinless device for my vacs?</a>
                </h6>
              </div>
              <div id="collapseFifteen" aria-labelledby="headingFifteen" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                        <p>Vacuums connect two wires from the Coinito relay parallel to your coin acceptor wiring at the timer (typically Coin + &amp; Coin -). This pulses the vacuum timer, "tricking" it into thinking it receives quarters/dollar coins/tokens. Once started, customers can add funds mid-session in $0.25 or $1 increments.</p>
                        <p>Here are the schematics of the Coinito 1 powering any self-serve bay by either count-up or count-down methods:</p>
                        <p>
                          <a href="https://coinlessmobile.wpengine.com/wp-content/uploads/2023/04/Coinito-Spec-Sheet-Count-Up-Wiring.png" target="_blank" rel="noopener noreferrer">Coinito 1 ---&gt; Count-Up Service</a>
                        </p>
                        <p>
                          <a href="https://coinlessmobile.wpengine.com/wp-content/uploads/2023/04/Coinito-Spec-Sheet-Count-Down-Wiring.png" target="_blank" rel="noopener noreferrer">Coinito 1 ---&gt; Cound-Down Service</a>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 16 -->
            <div class="card">
              <div id="headingSixteen" class="card-header" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen" class="collapsed collapsible-link py-2">How is the Coinless device powered?</a>
                </h6>
              </div>
              <div id="collapseSixteen" aria-labelledby="headingSixteen" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>The Coinslayer 4 has two power options: 5-24V DC or 90-240V AC. You can choose how you'd like to power it between these two options.</p>
                      <p>The Coinito 1 is powered by either 110-240V AC or 24-50V DC.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 17 -->
            <div class="card">
              <div id="headingSeventeen" class="card-header" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen" class="collapsed collapsible-link py-2">How many bays can I connect to each device?</a>
                </h6>
              </div>
              <div id="collapseSeventeen" aria-labelledby="headingSeventeen" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>The Coinslayer 4 has four relays, allowing you to power up to four different services, i.e. 4 vacuums, 4 self-serve bays, 1 pet wash and 3 self-serve bays, etc. If you have in-bay automatics (IBAs), each item on your menu requires a relay. So usually, 1 IBA requires the use of one Coinslayer 4. We also have a single-relay device, The Coinito 1, which powers a single service.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 18 -->
            <div class="card">
              <div id="headingEighteen" class="card-header" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen" class="collapsed collapsible-link py-2">What if my WiFi signal doesn't reach my vacuums, SS cabinet, JO box, etc?</a>
                </h6>
              </div>
              <div id="collapseEighteen" aria-labelledby="headingEighteen" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>This is usually because your local WiFi network isn't strong enough to keep your devices connected. We recommend you try moving your router closer to the devices. If that doesn't solve the problem, you could look into a stronger router. For vacuum devices, which are often far away from your car wash, we recommend an outdoor router that will reach the devices in your vacuums.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 19 -->
            <div class="card">
              <div id="headingNineteen" class="card-header" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen" class="collapsed collapsible-link py-2">What if a customer needs to use the bay longer than my fail-safe timeout?</a>
                </h6>
              </div>
              <div id="collapseNineteen" aria-labelledby="headingNineteen" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>The app will ask the customer if he/she is still there two minutes before the fail-safe time stops the bay. If there is no response from the customer, the fail-safe timeout stops the bay. If the customer replies that he/she's still using the bay, an additional amount of time is added according to the operators' preference.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 20 -->
            <div class="card">
              <div id="headingTwenty" class="card-header" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty" class="collapsed collapsible-link py-2">How do the QR codes work?</a>
                </h6>
              </div>
              <div id="collapseTwenty" aria-labelledby="headingTwenty" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Each QR code is unique to every service station. When a customer scans a QR code, the app navigates directly to the location and station the customer has scanned. This makes it harder to start the wrong service station.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 21 -->
            <div class="card">
              <div id="headingTwenty-one" class="card-header" data-toggle="collapse" data-target="#collapseTwenty-one" aria-expanded="false" aria-controls="collapseTwenty-one">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseTwenty-one" aria-expanded="false" aria-controls="collapseTwenty-one" class="collapsed collapsible-link py-2">How does the $5 credit work ?</a>
                </h6>
              </div>
              <div id="collapseTwenty-one" aria-labelledby="headingTwenty-one" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>When a customer downloads the app, they receive $5 in credits to use at any location. Each car wash operator agrees those $5 could be used at their wash. Most of the time, when a customer downloads the app, they're already at a car wash and would most likely use the credits right then.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 22 -->
            <div class="card">
              <div id="headingTwenty-two" class="card-header" data-toggle="collapse" data-target="#collapseTwenty-two" aria-expanded="false" aria-controls="collapseTwenty-two">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseTwenty-two" aria-expanded="false" aria-controls="collapseTwenty-two" class="collapsed collapsible-link py-2">How do I send messages to customers in the owner portal?</a>
                </h6>
              </div>
              <div id="collapseTwenty-two" aria-labelledby="headingTwenty-two" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Once logged into your Owner Portal, click on <strong>Customers</strong> in the tab menu. You'll see a table of your customers at the bottom of the page. Click into the <strong>Search Customers</strong> search field and begin typing the name of the customer you'd like to message. Once you've found that customer, you can either use his/her phone number to send a text message, or you can use the system to send a message by selecting their name (use the small checkbox on the left side of the table), then click on&nbsp;<strong>Send Credits</strong> button on the top-right part of the customer table. While this feature is primarily there to send additional credits to the customer, you can simply put $0 in credits, then write whatever message you want. This will send the customer an email with your message.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 23 -->
            <div class="card">
              <div id="headingTwenty-three" class="card-header" data-toggle="collapse" data-target="#collapseTwenty-three" aria-expanded="false" aria-controls="collapseTwenty-three">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseTwenty-three" aria-expanded="false" aria-controls="collapseTwenty-three" class="collapsed collapsible-link py-2">How do I view and manage my customer base?</a>
                </h6>
              </div>
              <div id="collapseTwenty-three" aria-labelledby="headingTwenty-three" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Once logged in to the Owner Portal, click on the Customers tab. This allows you to search through all your customers and see their transaction history. You can also quickly message them and/or give them a gift in the form of wash credits.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 24 -->
            <div class="card">
              <div id="headingTwenty-four" class="card-header" data-toggle="collapse" data-target="#collapseTwenty-four" aria-expanded="false" aria-controls="collapseTwenty-four">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseTwenty-four" aria-expanded="false" aria-controls="collapseTwenty-four" class="collapsed collapsible-link py-2">How do I issue refunds?</a>
                </h6>
              </div>
              <div id="collapseTwenty-four" aria-labelledby="headingTwenty-four" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Issuing refunds is never fun as a car wash operator. That's why we encourage always trying to take care of the issue with cloud-based credits if possible. If that's not an option, refunds are issued from your provided CardPointe (US merchants) or Stripe (AU / NZ) login.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 25 -->
            <div class="card">
              <div id="headingTwenty-five" class="card-header" data-toggle="collapse" data-target="#collapseTwenty-five" aria-expanded="false" aria-controls="collapseTwenty-five">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseTwenty-five" aria-expanded="false" aria-controls="collapseTwenty-five" class="collapsed collapsible-link py-2">How do I access the Owner Portal?</a>
                </h6>
              </div>
              <div id="collapseTwenty-five" aria-labelledby="headingTwenty-five" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Once you have purchased devices, we'll send you a URL where you can create an account and start configuring your first location. From then on, you'll have access to all the configuration, reporting, and marketing tools we offer through our comprehensive portal/dashboard.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="customer-faq">
        <div class="col-lg-12">
          <h4>Customer FAQ's</h4>
          <div id="faq" class="accordion">
            <!-- Accordion item 31 -->
            <div class="card">
              <div id="headingThirty-one" class="card-header collapsed" data-toggle="collapse" data-target="#collapseThirty-one" aria-expanded="false" aria-controls="collapseThirty-one">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThirty-one" aria-expanded="false" aria-controls="collapseThirty-one" class="collapsible-link py-2 collapsed">I paid for a wash, but the wash didn't turn on/start. How do I get my mThirty-oney back?</a>
                </h6>
              </div>
              <div id="collapseThirty-one" aria-labelledby="headingOne" data-parent="#faq" class="collapse" style="">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>First of all, we're very sorry this has happened. Secondly, let's get you taken care of.</p>
                      <p>The most common reason for this issue is when the customer forgets to wait until the bay is completely finished washing the car in front of you at the wash. With Coinless, you have to wait until the wash is totally idle before you purchase the wash. But it's understandable when this happens, so we're happy to get your wash credits back to you. To request a refund on your lost money, either click the chat icon in the lower-right corner of your screen and send us the information below, or send an email to <a href="mailto:support@coinlessmobile.com">support@coinlessmobile.com</a>. Include the following details: </p>
                      <ol>
                        <li>Your name and number you used to create your Coinless account</li>
                        <li>The amount lost in the missed purchase</li>
                        <li>The car wash where you lost the purchase (If you don't remember, look at your receipts.)</li>
                      </ol>
                      <p>We usually respond within a couple hours. Thank you!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 32 -->
            <div class="card">
              <div id="headingThirty-two" class="card-header collapsed" data-toggle="collapse" data-target="#collapseThirty-two" aria-expanded="false" aria-controls="collapseThirty-two">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThirty-two" aria-expanded="false" aria-controls="collapseThirty-two" class="collapsible-link py-2 collapsed">It appears I was charged incorrectly. What should I do?</a>
                </h6>
              </div>
              <div id="collapseThirty-two" aria-labelledby="headingThirty-two" data-parent="#faq" class="collapse" style="">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Please note that a pre-authorization of funds is often required for car wash services. If your mischarge is a flat amount, like $10, or $15, it's likely the pre-authorization. Your credit card company will remove the pre-auth from your statement in 1-7 days (each institution is different). If this is not the case, and you feel you were mischarged, please contact the owner of the car wash to resolve the issue. You can find the owner's information in the app by clicking on the | found on the right side of the car wash's home screen. If you don't get a quick response there, you can always reach out to Coinless Support directly. See our contact information at the bottom of this page.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 33 -->
            <div class="card">
              <div id="headingThirty-three" class="card-header" data-toggle="collapse" data-target="#collapseThirty-three" aria-expanded="false" aria-controls="collapseThirty-three">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThirty-three" aria-expanded="false" aria-controls="collapseThirty-three" class="collapsed collapsible-link py-2">Why did the app keep charging me after I left the self-serve bay?</a>
                </h6>
              </div>
              <div id="collapseThirty-three" aria-labelledby="headingThirty-three" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Most self-serve car wash bays price their services on a price-per-minute basis. This means the wash equipment will keep running until you turn it off. If you don't turn it off, the wash thinks you're still washing. So before you drive off, remember to open the app and click <img src="/img/i-am-done.png" alt="Coinless FAQ" class="img-fluid" style="width: 130px; height: 27.5px;">. If you forget to do this, however, don't worry, Coinless has a built-in protection against huge overcharges. After a reasonable amount of time has passed (set by the car wash owner), the app will ask if you're still there. If there's no answer, we will automatically shut down the wash.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 34 -->
            <div class="card">
              <div id="headingThirty-four" class="card-header" data-toggle="collapse" data-target="#collapseThirty-four" aria-expanded="false" aria-controls="collapseThirty-four">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThirty-four" aria-expanded="false" aria-controls="collapseThirty-four" class="collapsed collapsible-link py-2">My purchase didn't turn the car wash equipment on. What should I do?</a>
                </h6>
              </div>
              <div id="collapseThirty-four" aria-labelledby="headingThirty-four" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        Our system uses IoT technology, which means occasionally the connecting points can be down. This means that once in a blue moon, your card may be processed, and the equipment doesn't turn on. But fear not, our system allows us to quickly re-issue your lost credits. The quickest way to get help is by clicking the | button found on the home screen of the car wash you're at. You can also find the Coinless help center at <strong>Profile > Help & Legal</strong> in the app.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 35 -->
            <div class="card">
              <div id="headingThirty-five" class="card-header" data-toggle="collapse" data-target="#collapseThirty-five" aria-expanded="false" aria-controls="collapseThirty-five">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThirty-five" aria-expanded="false" aria-controls="collapseThirty-five" class="collapsed collapsible-link py-2">Why is there a $15 charge on my credit card?</a>
                </h6>
              </div>
              <div id="collapseThirty-five" aria-labelledby="headingThirty-five" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        Please note that a pre-authorization of funds is often required for car wash services. If your mischarge is a flat amount, like $15, it's likely the pre-authorization. Your credit card company will remove the pre-auth from your statement in 1-7 days (each institution is different). If this is not the case, and you feel you were mischarged, please contact the owner of the car wash to resolve the issue. You can find the owner's information in the app by clicking on the | found on the right side of the car wash's home screen. If you don't get a quick response there, you can always reach out to Coinless Support directly. See our contact information at the bottom of this page.
                      </p>  
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 36 -->
            <div class="card">
              <div id="headingThirty-six" class="card-header" data-toggle="collapse" data-target="#collapseThirty-six" aria-expanded="false" aria-controls="collapseThirty-six">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThirty-six" aria-expanded="false" aria-controls="collapseThirty-six" class="collapsed collapsible-link py-2">Why was my card charged twice?</a>
                </h6>
              </div>
              <div id="collapseThirty-six" aria-labelledby="headingThirty-six" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Please note that a pre-authorization of funds is often required for car wash services. If your card statement shows what appears to be two charges, it's possible the second charge is the pre-authorization. Your credit card company will remove the pre-auth from your statement in 1-7 days (each institution is different). If this is not the case, and you feel you were mischarged, please contact the owner of the car wash to resolve the issue. You can find the owner's information in the app by clicking on the | found on the right side of the car wash's home screen. If you don't get a quick response there, you can always reach out to Coinless Support directly. See our contact information at the bottom of this page.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 37 -->
            <div class="card">
              <div id="headingThirty-seven" class="card-header" data-toggle="collapse" data-target="#collapseThirty-seven" aria-expanded="false" aria-controls="collapseThirty-seven">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThirty-seven" aria-expanded="false" aria-controls="collapseThirty-seven" class="collapsed collapsible-link py-2">How do I get the credits I was gifted from a car wash owner?</a>
                </h6>
              </div>
              <div id="collapseThirty-seven" aria-labelledby="headingThirty-seven" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        Download Coinless, create an account, and add your credit card information to the Payment section in your Profile. Credits are only made available for use once you have added a form of payment. This is required for the event that you spend more than the available credits you have in your account.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 38 -->
            <div class="card">
              <div id="headingThirty-eight" class="card-header" data-toggle="collapse" data-target="#collapseThirty-eight" aria-expanded="false" aria-controls="collapseThirty-eight">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThirty-eight" aria-expanded="false" aria-controls="collapseThirty-eight" class="collapsed collapsible-link py-2">How do I delete my account with Coinless?</a>
                </h6>
              </div>
              <div id="collapseThirty-eight" aria-labelledby="headingThirty-eight" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Just delete your credit card, log out, and delete the Coinless app. If that's not enough, send us a message and we'll remove your information from our archives.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 39 -->
            <div class="card">
              <div id="headingThirty-nine" class="card-header" data-toggle="collapse" data-target="#collapseThirty-nine" aria-expanded="false" aria-controls="collapseThirty-nine">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThirty-nine" aria-expanded="false" aria-controls="collapseThirty-nine" class="collapsed collapsible-link py-2">How do I remove my credit card?</a>
                </h6>
              </div>
              <div id="collapseThirty-nine" aria-labelledby="headingThirty-nine" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>You can remove your credit card from the profile section of the app. From the home screen in the app, click <strong>Profile &gt; Payment &gt; Edit &gt; Delete Card</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 40 -->
            <div class="card">
              <div id="headingForty" class="card-header" data-toggle="collapse" data-target="#collapseForty" aria-expanded="false" aria-controls="collapseForty">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseForty" aria-expanded="false" aria-controls="collapseForty" class="collapsed collapsible-link py-2">How do I write a detailed review for a car wash on Coinless?</a>
                </h6>
              </div>
              <div id="collapseForty" aria-labelledby="headingForty" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        Coinless gives you the opportunity to write reviews for your favorite car washes. To write a full-length review, click on the review drops located under your car wash's name. Then click "Write a Review".
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 41 -->
            <div class="card">
              <div id="headingForty-one" class="card-header" data-toggle="collapse" data-target="#collapseForty-one" aria-expanded="false" aria-controls="collapseForty-one">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseForty-one" aria-expanded="false" aria-controls="collapseForty-one" class="collapsed collapsible-link py-2">How can I get my favorite car wash onto the Coinless platform?</a>
                </h6>
              </div>
              <div id="collapseForty-one" aria-labelledby="headingForty-one" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>We're glad you've discovered the great experience that Coinless offers its customers and clients. If you have a car wash you'd like to add to the platform, send us an email with the address of the car wash and we'll reach out to the wash! See our contact details below.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row coinless-support">
        <div class="col-lg-12">
          <h4>Coinless Support</h4>
          <p>
            USA: <a href="tel:+1801899-0183">+1 (801) 899-0183</a><br>
            AU:&nbsp; &nbsp;<a href="tel:+611300990074">+61 1300 990 074</a><br>
            NZ:&nbsp; &nbsp;<a href="tel:+640800483562">+64 0800 483 562</a>
          </p>
          <p><a href="mailto:support@coinlessmobile.com">support@coinlessmobile.com</a></p>
        </div>  
      </div>
    </div>
  </section>
</main>