---
  title: Onboarding | Coinless
  description: Coinless Onboarding Home Welcome!Below you’ll find all the information you need to be running on the Coinless platform in no time. For the most part, you’ll complete each item in the order listed below. Click each section to expand the instructions for every step. Most of the information you need can be found on this
  permalink: "{{ page.filePathStem }}.html"
  image: /img/coinless-logo-blue.png
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main id="coinlessBody">

  <!-- Hero Section -->
  <section id="onboardingHero">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>COINLESS <span class="gradient-text-01">ONBOARDING</span></h2>
          <p><a href="/index.html">Home</a> <i id="right" aria-hidden="true" class="fa fa-angle-right"></i> <strong>Coinless Onboarding</strong></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Onboarding FAQ Section -->
  <section class="onboardingfaqSection" id="faqStandard">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="faq" class="accordion">
            <!-- Accordion item 1 -->
            <div class="card">
              <div id="headingOne" class="card-header collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsible-link py-2 collapsed">Welcome!</a>
                </h6>
              </div>
              <div id="collapseOne" aria-labelledby="headingOne" data-parent="#faq" class="collapse" style="">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <p>
                        Below you’ll find all the information you need to be running on the Coinless platform in no time. For the most part, you’ll complete each item in the order listed below. Click each section to expand the instructions for every step. Most of the information you need can be found on this page.
                      </p>
                      <p>
                        But of course, feel free to call us any time you run into an issue: (801) 899-0183<br>
                        Feel free to print this visual guide to keep you moving forward:<br><br>
                        <span style="font-size: 90%;">Happy upgrading!</span>
                      </p>
                      <p>
                        AU / NZ<br>
                        Credit card processing is handled by Stripe, not Clover Connect.
                      </p>
                    </div>
                    <div class="col-lg-6">
                      <img src="/img/coinless_onboarding_graphic.webp" alt="Coinless Onboarding" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 2 -->
            <div class="card">
              <div id="headingTwo" class="card-header collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsible-link py-2 collapsed">Initial Phone Call</a>
                </h6>
              </div>
              <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faq" class="collapse" style="">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>Give us a call at the following number:</p>
                      <p>(801) 899-0183</p>
                      <p>One of our specialists will talk you through how the Coinless solution can help you grow your business, and put together a plan for implementation at your car wash.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 3 -->
            <div class="card">
              <div id="headingThree" class="card-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed collapsible-link py-2">Create Merchant Account</a>
                </h6>
              </div>
              <div id="collapseThree" aria-labelledby="headingThree" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <h6>US / CA</h6>
                      <p>
                        To get your merchant account set up with Clover Connect, go to the following web page and fill out the contact form at the bottom of the page: <a href="https://integrate.clover.com/partner/coinless" target="_blank" rel="noopener noreferrer">integrate.clover.com/partner/coinless</a>
                      </p>
                      <p>
                        A representative will call you within 2 hours after you submit the form, during their regular business hours: (Monday-Friday, 8:30am-5:30pm Central Time).
                      </p>
                      <h6>AU / NZ</h6>
                      <p>
                        After you create an operator account in the Coinless Owner Portal, we’ll provide you with a direct link to get your Stripe merchant account set up as quickly as possible. Stripe creates an easy, seamless process to get your merchant credentials created efficiently.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 4 -->
            <div class="card">
              <div id="headingFour" class="card-header" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="collapsed collapsible-link py-2">Order Devices</a>
                </h6>
              </div>
              <div id="collapseFour" aria-labelledby="headingFour" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        We offer two types of devices that plug directly into your car wash equipment. The larger device, The <i>Coinslayer</i> 4, has 4 relays, which enables it to control up to 4 services, or a single In-Bay Automatic (IBA). The smaller device, the <i>Coinito</i> 1, has 1 relay, which will power a single service station–these are most commonly used for vacuums.
                      </p>
                      <p>A quick phone will ensure you’re ordering the correct number of devices for your location. Once ordered, we configure them for the service you’ll be offering with each, and they ship within 48 hours from our headquarter in Salt Lake City.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 5 -->
            <div class="card">
              <div id="headingFive" class="card-header" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed collapsible-link py-2">Configure Owner Portal</a>
                </h6>
              </div>
              <div id="collapseFive" aria-labelledby="headingFive" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        We’ll get you a log in for our owner portal, which is found at portal.coinlessmobile.com.
                      </p>
                      <p>
                        Once your account is created, we’ll help you configure all your car wash parameters, like service categories, bay numbers, pricing, etc. We’ll also spend some time talking about the best parameters for your loyalty and wash club programs.
                      </p>
                      <p>
                        Lastly, we’ll show you all the powerful reporting tools and how to engage your customers using our easy-to-use marketing suite.
                      </p>
                      <p>
                        Here’s a 3-minute video to give you a glimpse of the Owner Portal in action:
                      </p>
                      <p>
                        (Turn mobile device sideways for optimal viewing.)
                      </p>
                      <iframe src="https://player.vimeo.com/video/345797290?h=3cbc564ef3" width="100%" height="415" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 6 -->
            <div class="card">
              <div id="headingSix" class="card-header" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="collapsed collapsible-link py-2">Location Appears on App</a>
                </h6>
              </div>
              <div id="collapseSix" aria-labelledby="headingSix" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>With all your location details in order, we will add you to the app. Your wash will show up as “Coming Soon” to anybody in a 50-mile radius.Your services will be listed, but not available for customers to purchase yet.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 7 -->
            <div class="card">
              <div id="headingSeven" class="card-header" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" class="collapsed collapsible-link py-2">Order Signage</a>
                </h6>
              </div>
              <div id="collapseSeven" aria-labelledby="headingSeven" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        We’ve partnered with VistaPrint to bring you an online store of all our sign options, customizable to your services. To get your signs ordered, follow these steps:
                      </p>
                      <ol>
                        <li>Download the QR Codes for each of your location’s services by navigating in the owner portal: Configuration &gt; Stations, then click “Download” on the Service Station you’d like to download.</li>
                        <li>Repeat this for each of your services</li>
                        <li>Name your QR Codes according to the appropriate Station (this helps keep them straight when uploading them on the printer’s site)</li>
                        <li>Go to the&nbsp; <a href="https://coinless.go.customprintcenter.com/" target="_blank" rel="noopener noreferrer">Coinless Sign Store</a></li>
                        <li>Select the signs you want for each of your Stations</li>
                        <li>Follow the steps to upload the QR Codes and name the bays/services accordingly</li>
                        <li>Shop for any other applicable Marketing Signs</li>
                        <li>Add to cart and purchase</li>
                      </ol>
                      <p>There are three types of signs to consider, all found in the store above:</p>
                      <ol>
                        <li>Bay Signs – Each bay sign identifies the number of the bay found in the app. Unique QR codes are printed on each bay sign. The QR codes are an easy way to ensure your customers are selecting and starting the correct service.</li>
                        <li>Marketing Signs – You’ll want to provide easy-to-follow marketing signs for how to download and use the app, the benefits of joining Wash Club and more. We have signs and banners that have tested and proven effective for all those important messages.</li>
                        <li>Directional&nbsp; Signs – Sometimes, as an extra layer of clarity, Operators will label their bays with large bay numbers. We have those too.</li>
                      </ol>
                      <p>If needed, we’ll help you place your sign order to make sure you give your car wash the best chance for success.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 8 -->
            <div class="card">
              <div id="headingEight" class="card-header" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" class="collapsed collapsible-link py-2">Install Your Hardware</a>
                </h6>
              </div>
              <div id="collapseEight" aria-labelledby="headingEight" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>We provide you with clear, step-by-step instructions and the electrical schematics to enable you to install the devices on your own. If you’re a hands-off operator, your technician/electrician should understand the instructions easily. It’s a very simple installation. Click the links below for downloadable images of the install schematics:</p>
                      <p>
                        <a href="/img/Coinslayer-IBA-Spec-Sheet-and-Wiring_v.png" target="_blank" rel="noopener noreferrer">Coinslayer 4 —&gt; In-Bay Automatic</a>
                      </p>
                      <p>
                        <a href="/img/Coinslayer-Spec-Sheet.png" target="_blank" rel="noopener noreferrer">Coinslayer 4 —&gt; Self-Serve Bays</a>
                      </p>
                      <p>
                        <a href="/img/Coinito-Spec-Sheet-Count-Up-Wiring.png" target="_blank" rel="noopener noreferrer">Coinito 1 —&gt; Vacuum/Self Serve – Count Up</a>
                      </p>
                      <p>
                        <a href="/img/Coinito-Spec-Sheet-Count-Down-Wiring.png" target="_blank" rel="noopener noreferrer">Coinito 1 —&gt; Vacuum/Self Serve – Count Down</a>
                      </p>
                      <p>If you still don’t feel comfortable doing it on your own, call us. We’ll schedule an install session where one of our specialists can walk you through it over the phone.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 9 -->
            <div class="card">
              <div id="headingNine" class="card-header" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine" class="collapsed collapsible-link py-2">Successful Launch</a>
                </h6>
              </div>
              <div id="collapseNine" aria-labelledby="headingNine" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        We want your launch to be successful, so we’ll carefully monitor your site in those critical early days, paying close attention to customer issues and assisting them and you with some of the learning curve.
                      </p>
                      <p>But we want more than just early success. We want your business to succeed in the long run too. The way to do this is simple: get your customers using the app.</p>
                      <p>We’ll help you through some simple, early marketing campaigns that have proven successful with other operators.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion item 10 -->
            <div class="card">
              <div id="headingTen" class="card-header" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                <h6 class="mb-0">
                  <a href="#" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen" class="collapsed collapsible-link py-2">Ongoing Support</a>
                </h6>
              </div>
              <div id="collapseTen" aria-labelledby="headingTen" data-parent="#faq" class="collapse">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        One of the things you get with Coinless is a small support team, working for you business around the clock. When a customer navigates to our “Help & Legal” screen in the app, they get our fast-response support team to answer questions and resolve issues.
                      </p>
                      <p>For many operators, this alone is enough to justify Coinless’s affordable technology solution.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>