---
  title: Onboarding | Coinless
  description: Coinless Onboarding Home Welcome!Below you’ll find all the information you need to be running on the Coinless platform in no time. For the most part, you’ll complete each item in the order listed below. Click each section to expand the instructions for every step. Most of the information you need can be found on this
  permalink: "{{ page.filePathStem }}.html"
  image: /img/coinless-logo-blue.png
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---