---
  title: Terms | Coinless
  description: 
  permalink: "{{ page.filePathStem }}.html"
  image: https://coinless-local.netlify.app/img/coinless-favor.png
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---